<div id="content">
  <div id="content-top">
    <div id="top-left">
      <div id="portal_block_96">
        <div id="pic">
          <img src="../../assets/images/content/1.jpg" alt="">
        </div>
        <ul id="mask">
          <li class="show"><span><img src="../../assets/images/content/1.jpg" width="50px" height="50px"></span></li>
          <li class="show"><span><img src="../../assets/images/content/2.jpg" width="50px" height="50px"></span></li>
          <li class="show"><span><img src="../../assets/images/content/3.jpg" width="50px" height="50px"></span></li>
          <li class="show"><span><img src="../../assets/images/content/4.jpg" width="50px" height="50px"></span></li>
          <li class="show"><span><img src="../../assets/images/content/5.jpg" width="50px" height="50px"></span></li>
          <li class="show"><span><img src="../../assets/images/content/6.jpg" width="50px" height="50px"></span></li>
        </ul>
      </div>
      <div id="tab6fKqo6">
        <div id="tab6fKqo6_title">
          <ul id="tb cl">
            <li id="portal_block_119">
              <a href="">24小时热帖</a>
            </li>
            <li id="portal_block_124">
              <a href="">最新回复</a>
            </li>
            <li id="portal_block_125">
              <a href="">最新帖</a>
            </li>
          </ul>
        </div>
        <div id="tab6fKqo6_content">
          <ul id="news_list">
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
            <li class="clearfix1">
              <a href="">中午吓了我一跳，午觉又没了</a>
              <span>09：15</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="top-middle">
      <div id="portal_block_97">
        <div id="news_list2">
          <h3><a href="">我们出生了，感谢宠友的大力支持</a></h3>
          <p><a href="">个性化抱枕、帆布包，放丢失狗牌、贴纸，下单即送，更有全场，更有全场指定商品满199-100!</a></p>
          <h3><a href="">我们出生了，感谢宠友的大力支持</a></h3>
          <p><a href="">个性化抱枕、帆布包，放丢失狗牌、贴纸，下单即送，更有全场，更有全场指定商品满199-100!</a></p>
          <h3><a href="">我们出生了，感谢宠友的大力支持</a></h3>
          <p><a href="">个性化抱枕、帆布包，放丢失狗牌、贴纸，下单即送，更有全场，更有全场指定商品满199-100!</a></p>
        </div>
      </div>
      <div id="portal_block_99">
        <ul class="news_list3">
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
          <li class="clearfix">
            <a href="" class="ao">[拉布拉多版]</a>
            <a href="" class="bo">养狗新手，谈谈那些苦与乐</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="top-right">
      <div id="portal_block_120"></div>
      <div id="portal_block_172">
        <h3>活动中心</h3>
        <ul>
          <li>
            <a href="">七月满签奖励发放了</a>
            <span>2970人</span>
          </li>
          <li>
            <a href="">七月满签奖励发放了</a>
            <span>2970人</span>
          </li>
          <li>
            <a href="">七月满签奖励发放了</a>
            <span>2970人</span>
          </li>
          <li>
            <a href="">七月满签奖励发放了</a>
            <span>2970人</span>
          </li>
          <li>
            <a href="">七月满签奖励发放了</a>
            <span>2970人</span>
          </li>
        </ul>
      </div>
      <div id="portal_block_101">
        <h3>教你玩转狗民</h3>
        <ul>
          <li><a href=""><img src="../../assets/images/content/11.png"></a></li>
          <li><a href=""><img src="../../assets/images/content/12.png"></a></li>
          <li><a href=""><img src="../../assets/images/content/13.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="title">
    <h3>狗民专刊</h3>
  </div>
  <div id="content-bottom">
    <ul class="forum_list">
      <li class="big">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/1.jpg" width="280" height="168"></a>
          <a href=""><span class="name"><span>贵宾/泰迪俱乐部</span></span></a>
        </div>
        <p class="info">这里是贵宾宝宝的家园！</p>
        <p>主题:229980, 帖数:5524124</p>
        <p>版主：beibei3626        ParkNora</p>
      </li>
      <li class="big">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/1.jpg" width="280" height="168"></a>
          <a href=""><span class="name"><span>贵宾/泰迪俱乐部</span></span></a>
        </div>
        <p class="info">这里是贵宾宝宝的家园！</p>
        <p>主题:229980, 帖数:5524124</p>
        <p>版主：beibei3626        ParkNora</p>
      </li>
      <li class="big">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/1.jpg" width="280" height="168"></a>
          <a href=""><span class="name"><span>贵宾/泰迪俱乐部</span></span></a>
        </div>
        <p class="info">这里是贵宾宝宝的家园！</p>
        <p>主题:229980, 帖数:5524124</p>
        <p>版主：beibei3626        ParkNora</p>
      </li>
    </ul>
    <ul class="forum_list">
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
      <li class="small">
        <div class="pic">
          <a href=""><img src="../../assets/images/bottom/2.jpg"></a>
          <div class="name"><span><a href="">贵宾/泰迪俱乐部</a></span><em>(300)</em></div>
        </div>
        <p style="">主题:271011, 帖数:5817655</p>
      </li>
    </ul>
  </div>
</div>
