
<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <div id="list">

  </div>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="image" src="../../assets/img/737fee6be5a1bc728a69a7ba14e6e11f.gif" alt="First slide">
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <img class="image" src="../../assets/img/031521dv235r0vnz5ulsum.gif" alt="Second slide">
      <div class="carousel-caption"></div>
    </div>
    <div class="item">
      <img class="image" src="../../assets/img/17a04a48002457.588b576dada08.gif" alt="Third slide">
      <div class="carousel-caption"></div>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel"
     data-slide="prev">
  </a>
  <a class="carousel-control right" href="#myCarousel"
     data-slide="next">
  </a>
</div>
<!--<div id="middle" class="container">-->
  <!--<div class="row clearfix">-->
    <!--<div class="col-md-4 column">-->
      <!--<img alt="" src="../../assets/img/Web-twerk.gif" class="img-rounded" />-->
    <!--</div>-->
    <!--<div class="col-md-4 column">-->
      <!--<img alt="" src="../../assets/img/amazon_corgi_surprise_dribbble.gif" class="img-rounded" />-->
    <!--</div>-->
    <!--<div class="col-md-4 column">-->
      <!--<img alt="" src="../../assets/img/giphy.gif" class="img-rounded" />-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

