
  <div>
  <form action="#" method="post" id="form" >
    <div id="middle">
      <div class="loginBox">
        <ul class="loginBox-li">
          <li class="text_box">
            <input type="text" placeholder="手机号/邮箱/用户名" id="txtId" name="txtId">
            <span class="txtId-hint"></span>
          </li>
          <li class="text_box">
            <input type="password" placeholder="密码" id="txtPassword" name="txtPassword">
            <span class="pw-hint"></span>
          </li>
          <li class="checkbox-middle">
            <input type="checkbox" id="checkbox-1">
            <span class="spanbox">记住密码</span>
            <a href="#">忘记密码?</a>
          </li>
          <li class="loginBox-sub">
            <input type="button" value="登录" onclick="login()">
          </li>
          <li class="login-qq">
            <span>合作网站登录：</span>
            <a href="enroll.html">注册新用户</a>
          </li>
          <li id="ico"></li>
        </ul>
      </div>
    </div>
  </form>
</div>
