
  <div class="container">
      <div class="col-md-8 col-xs-12">
        <div class="panel">
          <div class="panel-main">
            <div class="panel-top bottom">
              <h1><a href="">特大新闻！本人急需用钱，低价出售皮皮龙一条。</a></h1>
              <p><span>卖家<a href="#" class="red">皮皮虾</a></span> • <time>2017年011月20日</time></p>
            </div>
            <div class="panel-img bottom">
              <a href="#">
                <img src="img/content-1.png" alt=""/>
              </a>
            </div>
            <div class="panel-content bottom">
              <p>联系方式：</p>
            </div>
            <div class="panel-bottom">
              <a href="#" class="btn btn-self bottom">查看属性</a>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-main">
            <div class="panel-top bottom">
              <h1><a href="">低价出售顶级鸟笼，瞧一瞧，看一看！</a></h1>
              <p><span>卖家：<a href="#" class="red">李白</a></span> • <time>2017年11月24日</time></p>
            </div>
            <div class="panel-img bottom">
              <a href="#">
                <img src="img/content-2.jpg" alt=""/>
              </a>
            </div>
            <div class="panel-content bottom">
              <p>联系电话：16415642152</p>
            </div>
            <div class="panel-bottom">
              <a href="#" class="btn btn-self bottom">查看属性</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">

        <div class="right">
          <h4 class="bottom title">社区</h4>
          <div class="right-content">
            <p>QQ群：123465132</p>
            <p><a href="#">问答社区</a></p>
          </div>
        </div>

        <div class="right">
          <h4 class="bottom title">转让</h4>
          <div class="right-content">
            <a href="#" class="btn btn-self width-100">猿粪已尽，我要出手！！！</a>
          </div>
        </div>

        <div class="right">
          <h4 class="bottom title">品种</h4>
          <div class="right-content">
            <a href="#" class="btn btn-self width-100">绝种金毛</a>
            <a href="#" class="btn btn-self width-100">最上级酷酷龙</a>
            <a href="#" class="btn btn-self width-100">极品冰晶龙鳞兽</a>
            <a href="#" class="btn btn-self width-100">炫彩乖乖乖</a>
            <a href="#" class="btn btn-self width-100">上级金翅鸢</a>
            <a href="#" class="btn btn-self width-100">破损的虾兵</a>
            <a href="#" class="btn btn-self width-100">斗战胜佛帅帅猴</a>
            <a href="#" class="btn btn-self width-100">史诗级暴龙兽</a>
            <a href="#" class="btn btn-self width-100">传说蛋蛋鸡</a>
          </div>
        </div>

      </div>
    </div>

