<div id="head" class="main-nav navbar navbar-default col-md-12 col-xs-12">
  <div class="container">
    <div class="navbar-header">
      <a   href="#" class="navbar-brand"><img id="d2" src="../../assets/img/logo（lucency）.png" alt=""></a>
      <button class="navbar-toggle text-center clearfix" data-toggle="collapse" data-target="#collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']">首页</a></li>
        <li><a [routerLink]="['store']">宠物商店</a></li>
        <li><a [routerLink]="['deal']">宠物交易</a></li>
        <li><a [routerLink]="['forum']">爱宠大机密</a></li>
        <li><a [routerLink]="['register']">宠窝</a></li>
      </ul>
    </div>
  </div>
</div>
